@font-face {
font-family: '阿里普惠体'; /*字体的名字*/
src: url('Alibaba-PuHuiTi-Light.otf') format('truetype'); /*字体文件的路径*/
src: url('Alibaba-PuHuiTi-Bold.otf') format('truetype'); /*字体文件的路径*/
src: url('Alibaba-PuHuiTi-Heavy.otf') format('truetype'); /*字体文件的路径*/
src: url('Alibaba-PuHuiTi-Medium.otf') format('truetype'); /*字体文件的路径*/
src: url('Alibaba-PuHuiTi-Regular.otf') format('truetype'); /*字体文件的路径*/
}
body{
	font-family: '阿里普惠体';
}